body{
    background-image: url("img/lab1.3.5.world-map.img.png");
    background-position: top;
}
h1{
    letter-spacing: 4px;
    font: sans-serif;
    text-align: center;
    font-weight: bold;
}
h2{
    letter-spacing: 2px;
    font: cursive;
    text-align: center;
    font-style - italic;
    font-weight: normal;
}
.a{
    color: darkslategrey;
}